<h2><%= @task.title%></h2>
<h3>Deadline: <%= @task.deadline%></h3>
<h4>Category: <%= @task.category.name %></h4>
<p><%= @task.description %></p>


<%= link_to 'Back', root_path%>  

<% if user_signed_in? %>

  <% if @task.user_id == current_user.id %>
  	|  
	<%= link_to 'Edit', edit_task_path(@task) %>  |  
	<%= link_to 'Delete', task_path(@task), method: :delete, data: { confirm: "Are you sure" } %>
  
  <% end %>

<% end %>